.yearBox {
  background-color: #D6D3C4;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.uploadButtonContainer {
  display: flex;
  align-items: center;
  justify-content: right;
}

.yearRow {
  padding-left: 1%;
  display: flex;
  align-items: center;
}
.variableTypeContainer h3 {
  padding-left: 2%;
  background-color: #5B6236;
  color: #998542 !important;
}

.info1 {

  background-color: #D6D3C4;
  text-align : left;
}
.info2 {
  background-color: #D6D3C4;
  text-align : left;
  padding-left: 5%;
}
.info2 p {
  color: red !important;
}